/* CSS reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  margin:0px;
  background-color:#CDE0D4 ;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

a{
  text-decoration: none;
}

/* esconde as ancoras da tela */
a.links{
  display: none;
}

/* content que contem os formulários   max-width: 500px;  */ 
.content{
  
  gap: 0px;
  display: flex;
  max-width: 750px; 
  min-width: 320px;
  width: 100%;
  margin: 0px;
  position: relative; 
  flex-direction: column;

}

/* formatando o cabeçalho dos formulários */
h1{
  font-size: 35px;
  color: #3E634C;
  padding: 0px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

h1:after{  /* Risco login */
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

p{
  margin-bottom:5px;
}


/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  {
  color: #bebcbc; 
  font-style: italic;
}


/*estilo do botão submit */
input[type="submit"]{
  width: 50%!important;
  cursor: pointer;  
  background: #3E634C;
  padding: 3px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff; 
  margin-bottom: 0px;  
  text-shadow: 0 1px 1px rgba(20, 20, 20, 0.514);
  -webkit-border-radius: px;
  border-radius: 5px;
  transition: all 0.2s linear;
}

input[type="submit"]:hover{
  background:  #345340;
}

#login{  /* Card Principal (formulário) */
  width: 100%; 
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;

}

/* logo top and down */

.div img{
    width:100%;
}


.img1{
    height: 135px;
    margin-top: 5.5vh; 
    
}

.img2{
    height: 200px;  
    margin-right: 2vh;
  
    
}


a{
  text-decoration: none;

}


footer{
  text-align: center;
 
}


div#responsive-imgs img {
  display: block;
  margin: 5px auto;
  max-width: 100%;
}



.containerr {
  height: 660px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  background-color: #3E634C;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 110%;
  height: 100%;
}

#frame-spec{
  overflow-y: hidden;
}